<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Market</title>
</head>

<body>
    <h1>Edit Your Product Details</h1>
    <form action="/products/<%= prod._id %>?_method=put" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=prod.name %>">
        <label for="price">Price Rs.</label>
        <input type="text" name="price" id="price" value="<%=prod.pricePerKg %>">
        <label for="catagory">Catagory</label>
        <select name="catagory" id="catagory">
            <% for (catagory of catagories) {%>
                <option value="<%=catagory %>" <%=prod.catagory===catagory ? 'selected' :'' %>>
                    <%=catagory%>
                </option>
                <% } %>
        </select>
        <button type="submit">On Air</button>
</body>

</html>